DISCORD_TOKEN=pega_aqui_el_token_del_bot
CLIENT_ID=pega_aqui_el_application_id
GUILD_ID=pega_aqui_el_id_de_tu_servidor
BOT_OWNER_ID=
WELCOME_ENABLED=false
WELCOME_CHANNEL_ID=
WELCOME_MESSAGE_TEMPLATE=
